@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-base;
  }
  /* main {
    @apply px-2 sm:px-6 lg:px-8;
  } */
  section {
    @apply mx-auto mb-8 md:mb-16;
  }

  h1 {
    @apply font-bold text-4xl sm:text-5xl tracking-wide;
  }

  h2 {
    @apply font-bold text-3xl sm:text-4xl lg:text-5xl mb-8 tracking-wide;
  }

  h3 {
    @apply font-bold text-lg sm:text-xl mb-2 tracking-wide;
  }

  h4 {
    @apply font-semibold text-sm sm:text-base sm:pr-8;
  }

  /* 
  LOADING SPINNER for async fetch
  */

  /* .spinner {
    animation: spinner 0.5s linear infinite;
    border: 2px solid #eee;
    border-radius: 50%;
    border-top-color: #00807c;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  } */
}

@layer components {
}
